
@font-face {
  font-family: 'Fort-Book';
  src: url('Fort-Book.eot?#iefix') format('embedded-opentype'),  url('Fort-Book.otf')  format('opentype'),
	     url('Fort-Book.woff') format('woff'), url('Fort-Book.ttf')  format('truetype'), url('Fort-Book.svg#Fort-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
