
@font-face {
  font-family: 'Fort-Bold';
  src: url('Fort-Bold.eot?#iefix') format('embedded-opentype'),  url('Fort-Bold.otf')  format('opentype'),
	     url('Fort-Bold.woff') format('woff'), url('Fort-Bold.ttf')  format('truetype'), url('Fort-Bold.svg#Fort-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
